.a{
    border: 1px solid #FB9EC6;
    border-radius: 10px;
    border-left: 10px solid #FB9EC6;
    max-width: 100%;
    padding: 10px;
}
.a p{
    color: rgb(134, 128, 128);
}
.c {
    border: 1px solid #05a769;
    border-radius: 10px;
    border-left: 10px solid #05a769;
    max-width: 100%;
    padding: 10px; 
    text-align: center; 
}
.c p{
    color: rgb(134, 128, 128);
    text-align: left;
    
}

@media (max-width:650px){   
    body{
        font-size: smaller;
    }
}

